{% extends 'layout.auth.html.twig' %}

{% set page = 'Order Page' %}
{% set message = 'This is your order page!' %}

{% block herounit %}

    <section id="content">
        <article class="hero-unit text-center">
            <h2>
                Welcome, {{ user.full_name }}!
            </h2>
            {{ message }}
        </article>
    </section>

{% endblock %}

{% block content %}

    <form method="post" class="form">
        {{ form_widget(orderForm) }}
        <button type="submit" class="btn btn-medium btn-primary" id="submit">Send Message</button>
    </form>

{% endblock %}