{% extends 'layout.auth.html.twig' %}

{% set title = 'Service Links' %}

{% block content %}

    <section id="content">
        <article class="hero-unit text-center">
            <h2>
                Welcome, {{ user.full_name }}!
            </h2>
        </article>
    </section>

    <section id="messages">
       <p>this is your service links page!</p>

    </section>

{% endblock %}