{% extends 'layout.html.twig' %}

{% set title = 'Home' %}

{% block content %}

    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <h1>

    </h1>
    <section id="content">
        <article class="hero-unit text-center">
            <h2>
                Welcome to Bud&apos;s Ideal Protein Logger!
            </h2>
            <div class="">
                Please log in.
            </div>
        </article>
        <article class="login-wrapper">

            <form class="navbar-form text-center" method="post">
                <input class="login" id="username" type="text" name="_username" value="" placeholder="Username">
                <input class="login" type="password" name="_password" placeholder="Password">
                <button type="submit" class="btn">Sign in</button>
            </form>

        </article>
        <hr />
    </section>
{% endblock %}