{% extends 'layout.auth.html.twig' %}

{% set page = 'Add New Client' %}
{% set message = 'New Client Page' %}

{% block herounit %}

    <section id="content">
        <article class="hero-unit text-center">
            <h2>
                Welcome, {{ user.full_name }}!
            </h2>
            {{ message }}
        </article>
    </section>

{% endblock %}

{% block content %}

    <section id="error">
        {% if error %}
            Sorry, but something happened and that record did not save,
            please check the information to be sure it is correct and try again.
        {% endif %}
    </section>

    <section id="message">
        <form method="post">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-medium btn-primary" id="submit">Create Client</button>
        </form>
    </section>

{% endblock %}