{% extends 'layout.auth.html.twig' %}

{% set page = 'Update Client' %}
{% set message = 'Client Update page' %}

{% block herounit %}

    <section id="content">
        <article class="hero-unit text-center">
            <h2>
                Welcome, {{ user.full_name }}!
            </h2>
            {{ message }}
        </article>
    </section>

{% endblock %}

{% block content %}

    <section>
        <form method="post" id="userSelectForm">
            {{ form_widget(form) }}
        </form>
    </section>
    
    <script>
    	$(document).ready(function() {
    		$('#form_username').change(function() { $('#userSelectForm').submit(); });
    	});
    </script>

{% endblock %}