{% extends 'layout.auth.html.twig' %}

{% set title = 'Update Client' %}

{% block content %}

	<section>
        <form method="post" id="userSelectForm" action="{{ path('admin_clients_index') }}">
            {{ form_widget(selectForm) }}
        </form>
    </section>
    
    <section>
        <form method="post">
            {{ form_widget(clientForm) }}
            <button type="submit" class="btn btn-medium btn-primary" id="submit">Update Client</button>
        </form>
    </section>

    <script>
        $(document).ready(function() {
            $('#form_username').change(function() { $('#userSelectForm').submit(); });
        });
    </script>

{% endblock %}